/.metadata/.lock
/.metadata/.log
/.metadata/.plugins/org.eclipse.core.resources/.history/2a/a0563ae10783001d1b87a02be62f0a61
/.metadata/.plugins/org.eclipse.core.resources/.history/2c/e02d4f121082001d1e09c99d90a34b3b
/.metadata/.plugins/org.eclipse.core.resources/.history/2f/c06874df0c82001d1e09c99d90a34b3b
/.metadata/.plugins/org.eclipse.core.resources/.history/33/005a3938a982001d1b44f2e8a7a37ca9
/.metadata/.plugins/org.eclipse.core.resources/.history/70/601b6ee10883001d1b87a02be62f0a61
/.metadata/.plugins/org.eclipse.core.resources/.history/75/90acad2fa182001d1b44f2e8a7a37ca9
/.metadata/.plugins/org.eclipse.core.resources/.history/76/f090a06b0a83001d1b87a02be62f0a61
/.metadata/.plugins/org.eclipse.core.resources/.history/79/80c81f840b82001d1e09c99d90a34b3b
/.metadata/.plugins/org.eclipse.core.resources/.history/84/4011f52d0b82001d1e09c99d90a34b3b
/.metadata/.plugins/org.eclipse.core.resources/.history/86/b00ace27a682001d1b44f2e8a7a37ca9
/.metadata/.plugins/org.eclipse.core.resources/.history/a3/3083d04b0f82001d1e09c99d90a34b3b
/.metadata/.plugins/org.eclipse.core.resources/.history/b7/000575df0c82001d1e09c99d90a34b3b
/.metadata/.plugins/org.eclipse.core.resources/.history/c5/80fe8e27a982001d1b44f2e8a7a37ca9
/.metadata/.plugins/org.eclipse.core.resources/.history/cb/503f50121082001d1e09c99d90a34b3b
/.metadata/.plugins/org.eclipse.core.resources/.history/e1/d06033fea882001d1b44f2e8a7a37ca9
/.metadata/.plugins/org.eclipse.core.resources/.history/f5/d01e0a1a0d82001d1e09c99d90a34b3b
/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
/.metadata/.plugins/org.eclipse.core.resources/.projects/ex_db/.indexes/af/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/ex_db/.indexes/e4/7f/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/ex_db/.indexes/e4/8a/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/ex_db/.indexes/e4/c/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/ex_db/.indexes/e4/d5/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/ex_db/.indexes/e4/e5/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/ex_db/.markers
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/.metadata/.plugins/org.eclipse.core.resources/.root/4.tree
/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
/.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
/.metadata/.plugins/org.eclipse.jdt.core/3964451032.index
/.metadata/.plugins/org.eclipse.jdt.core/4028292667.index
/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/ex_db/2022/12/51/refactorings.history
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/ex_db/2022/12/51/refactorings.index
/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
/.metadata/.plugins/org.eclipse.m2e.logback/0.log
/.metadata/.plugins/org.eclipse.m2e.logback/logback.2.1.0.20221015-0744.xml
/.metadata/.plugins/org.eclipse.debug.core/.launches/Ex_db.launch
/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.settings/org.eclipse.core.resources.prefs
/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
/.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
/.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.intro/introstate
/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/ex_db/.settings/org.eclipse.core.resources.prefs
/ex_db/.settings/org.eclipse.jdt.core.prefs
/.metadata/*
